name: Publish HoNTools to PSGallery 

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout master
        uses: actions/checkout@master

      - name: Publish HoNTools PowerShell module to PSGallery
        shell: pwsh
        run:
          Write-Host "API Key is ${{ secrets.PS_GALLERY_API_KEY }}"
